<html>

<head>
  <title>Delivery Fee Calculator</title>
  <link rel="stylesheet" href="/static/css/mystyle.css">
</head>

<body>
  <h2 align="center">
    Backend Software Engineering Internship Assignment
  </h2>
  <h2 align="center">
    Candidate: Matteo Pinna
  </h2>
  <p align="center" border="none">
    <img alt="Yuho, the Wolt mascot" src="/static/images/yuhos.png" align="center"/>
  </p>
  <p align="center">
    You can access OpenAPI specification with <b>/ui</b>.
  </p>
</body>
</html>